<div class="container-fluid marge">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="card cadre">

        <h4> Enter the symbol of a stock to track (i.e AAPL, TSLA, GOOGL)</h4>

        <div class="row">
          <div class="col-sm-6">
            <input type="text" name="symbol" [(ngModel)]="symbol" />
          </div>
          <div class="col-sm-2">
            <input type="button" (click)="getSymbol()" value="Track Stock" />
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row marge">
    <div class="col-sm-12">

      <div class="text-center" *ngIf="loading">
        <div class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </div>

      <div class="card" *ngFor="let stock of this.stockList; let i=index">
        <button type="button" class="btn-close close" aria-label="Close" (click)="removeStock(i)"></button>
        <div class="card-body">

          <div class="row">
            <div class="col-sm-8">
              <h5 class="card-title">{{stock?.companyName}} ({{stock?.symbol}})</h5>
              <p class="card-text">Change today: {{stock.change | sign}}% Opening price:
                {{stock?.openingPrice | currency}}</p>
              <p class="card-text">Current price: {{stock?.currentPrice | currency}} Hight price:
                {{stock?.highPrice | currency}}</p>
              <a [routerLink]="['/sentiment', stock.symbol]" class="btn btn-secondary">Go to social sentiment detail
                &#62;</a>
            </div>

            <div class="col-sm-4">
              <span class="up" *ngIf="stock.change > 0;">&#8593;</span>
              <span class="down" *ngIf="stock.change < 0;">&#8595;</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
